  <div id="search" class="section">
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="field is-grouped">
          <p class="control has-icons-left has-icons-right is-expanded">
            <input class=" input" type="text" placeholder="Search for a Artist, Song, Album or Playlist" [(ngModel)]="searchQuery" (keyup.enter)="search()">
            <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
          </p>
          <p class="control">
            <a class="button is-primary is-outlined" (click)="search()">
              Search
            </a>
            <a class="button is-danger is-outlined" (click)="clearFieldsAndData()">
              Reset
            </a>
          </p>
        </div>
      </div>
      <div class="column is-full">
        <div class="message is-danger" *ngIf="noResults">
          <div class="message-body">
            <p>No results found, try a different search.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section artists" *ngIf="hasQuery && artists.length  && !noResults">
    <h1 class="title is-2 has-text-centered">Artists</h1>
    <div class="columns is-multiline">
      <div class="column is-2-widescreen is-one-quarter-desktop is-one-third-tablet" *ngFor="let artist of artists">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="!artist.images.length" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="artist.images.length" class="image8x128" src="{{artist?.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a class="subtitle clickable" (click)="goToArtist(artist)">{{artist.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section albums" *ngIf="hasQuery && albums.length && !noResults">
    <h1 class="title is-2 has-text-centered">Albums</h1>
    <div class="columns is-multiline">
      <div class="column is-2-widescreen is-one-quarter-desktop is-one-third-tablet" *ngFor="let album of albums">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="!album.images.length" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="album.images.length" class="image8x128" src="{{album.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a class="subtitle clickable" (click)="goToAlbum(album)">{{album.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section playlists" *ngIf="hasQuery && playlists.length && !noResults">
    <p class="title is-2 has-text-centered">Playlists</p>
    <div class="columns is-multiline">
      <div class="column is-2-widescreen is-one-quarter-desktop is-one-third-tablet" *ngFor="let playlist of playlists">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img *ngIf="playlist.images.length" src="http://via.placeholder.com/126x126" alt="no image found">
              <img *ngIf="!playlist.images.length" class="image8x128" src="{{playlist.images[0].url}}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <a class="subtitle clickable" (click)="goToPlaylist(playlist)">{{playlist.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tracks" *ngIf="hasQuery && tracks.length && !noResults">
    <div class="columns">
      <div class="column">
        <table class="table is-fullwidth">
          <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th></th>
            <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th style="width: 7%"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
          </tr>
          <tbody>
          <tr *ngFor="let track of tracks; let i = index" class="clickable" (dblclick)="setClickedRow(i, track)" [class.is-selected]="i === selectedRow">
            <td>{{track.name}}</td>
            <td (click)="goToArtist(track.artists[0])">{{track.artists[0].name}}</td>
            <td (click)="goToAlbum(track?.album)">{{track.album.name}}</td>
            <td>
              <i class="fa fa-plus" aria-hidden="true" (click)="toggleAddToPlaylistModal(track)"></i>
            </td>
            <td>{{track.duration_ms}}</td>
            <td>
              <progress class="progress is-info is-fullwidth" value="{{track.popularity}}" max="100"></progress>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <button id="loadMoreSearchTracks" class="button is-primary is-outlined is-fullwidth"
                *ngIf="tracks.length < tracksTotal"
                (click)="loadMoreTracks()">Load More Tracks
        </button>
      </div>
    </div>
  </div>
