<div id="search" class="section">
  <div class="columns is-multiline">
    <div class="column is-full">
      <div class="field is-grouped">
        <p class="control has-icons-left has-icons-right is-expanded">
          <input class="input"
                 placeholder="Search for a Artist, Song, Album or Playlist"
                 [formControl]="searchInput">
          <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
        </p>
        <p class="control">
          <a class="button is-danger is-outlined" (click)="clear()">
            Reset
          </a>
        </p>
      </div>
    </div>
    <div class="column is-full">
      <div class="message is-danger" *ngIf="noResults">
        <div class="message-body">
          <p>No results found, try a different search.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="artists" class="section" *ngIf="artists  && !noResults">
  <h1 class="title is-2 has-text-centered">Artists</h1>
  <div class="columns is-multiline">
    <div class="column is-one-fifth-desktop is-one-third-tablet" *ngFor="let artist of artists.items">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img *ngIf="!artist.images.length" src="http://via.placeholder.com/126x126">
            <img *ngIf="artist.images.length" class="image8x128" src="{{artist.images[0].url}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="is-link" (click)="goToArtist(artist)">{{artist.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="albums" class="section" *ngIf="albums && !noResults">
  <h1 class="title is-2 has-text-centered">Albums</h1>
  <div class="columns is-multiline">
    <div class="column is-one-fifth-desktop is-one-third-tablet" *ngFor="let album of albums.items">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img *ngIf="!album.images.length" src="http://via.placeholder.com/126x126">
            <img *ngIf="album.images.length" class="image8x128" src="{{album.images[0].url}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="is-link" (click)="goToAlbum(album)">{{album.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="playlists" class="section" *ngIf="playlists && !noResults">
  <p class="title is-2 has-text-centered">Playlists</p>
  <div class="columns is-multiline">
    <div class="column is-one-fifth-desktop is-one-third-tablet" *ngFor="let playlist of playlists.items">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img *ngIf="playlist.images.length" class="image8x128" src="{{playlist.images[0].url}}">
            <img *ngIf="!playlist.images.length" src="http://via.placeholder.com/126x126">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="is-link" (click)="goToPlaylist(playlist)">{{playlist.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tracks" class="section" *ngIf="tracks && !noResults">
  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th style="width: 35%">Title</th>
          <th style="width: 20%">Artist</th>
          <th style="width: 30%">Album</th>
          <th></th>
          <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
          <th style="width: 15%;"><i class="fa fa-thumbs-up" aria-hidden="true"></i></th>
        </tr>
        <tbody>
        <tr *ngFor="let track of tracks.items; let i = index"
            class="clickable"
            (dblclick)="setClickedRow(i, track)">
          <td>{{track.name}}</td>
          <td>
            <a class="is-link" (click)="goToArtist(track.artists[0])">{{track.artists[0].name}}</a>
          </td>
          <td>
            <a class="is-link" (click)="goToAlbum(track.album)">{{track.album.name}}</a>
          </td>
          <td>
            <i class="fa fa-plus" (click)="toggleAddToPlaylistModal(track)"></i>
          </td>
          <td>{{formatDuration(track.duration_ms)}}</td>
          <td>
            <progress class="progress is-info is-fullwidth" value="{{track.popularity}}" max="100"></progress>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <button id="loadMoreSearchTracks" class="button is-primary is-outlined is-fullwidth"
              *ngIf="tracks.items.length < tracks.total"
              (click)="loadMoreTracks()">Load More Tracks
      </button>
    </div>
  </div>
</div>
