<div class="section is-fullwidth" *ngIf="artist">
  <div class="columns">
    <div class="column">
      <p class="title is-1 has-text-centered">Popular</p>
      <table class="table is-fullwidth">
        <tbody>
        <tr *ngFor="let track of topTracks; let i = index"
            class="clickable"
            (dblclick)="setClickedRow(track, i)"
            [class.is-selected]="i === selected">
          <td>{{i + 1}}</td>
          <td>{{track.name}}</td>
          <td>{{formatDuration(track.duration_ms)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="columns" *ngIf="albums.length">
    <div class="column">
      <p class="title is-1 has-text-centered">Albums</p>
      <div class="columns is-multiline">
        <div class="column is-2-desktop is-full-tablet" *ngFor="let album of albums">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="album.images.length > 0" src="{{album?.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!album.images.length">
              </figure>
            </div>
            <div class="card-content clickable" (click)="goToAlbum(album)">
              <div class="content">
                <p class="more-info is-marginless has-text-weight-bold truncate">{{album.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns" *ngIf="singles.length">
    <div class="column">
      <p class="title is-1 has-text-centered">Singles</p>
      <div class="columns is-multiline">
        <div class="column is-2-desktop is-full-tablet" *ngFor="let single of singles">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="single.images.length > 0" src="{{single.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!single.images.length">
              </figure>
            </div>
            <div class="card-content clickable" (click)="goToAlbum(single)">
              <div class="content">
                <p class="more-info is-marginless has-text-weight-bold truncate">{{single.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns" *ngIf="compilations.length">
    <div class="column">
      <p class="title is-1 has-text-centered">Compilations</p>
      <div class="columns is-multiline">
        <div class="column is-2-desktop is-full-tablet" *ngFor="let compilation of compilations">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="compilation.images.length > 0" src="{{compilation.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!compilation.images.length">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p class="more-info is-marginless has-text-weight-bold truncate" (click)="goToAlbum(compilation)">{{compilation.name}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
