<div class="is-fullwidth" *ngIf="artist">
  <div class="section columns">
    <div class="column">
      <p class="title is-1 has-text-centered">Popular</p>
      <table class="table is-fullwidth">
        <tbody>
        <tr *ngFor="let track of topTracks; let i = index"
            class="clickable"
            (dblclick)="setClickedRow(track, i)"
            [class.is-selected]="i === selected">
          <td>{{i + 1}}</td>
          <td>{{track.name}}</td>
          <td>{{formatDuration(track.duration_ms)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section columns" *ngIf="albums">
    <div class="column">
      <p class="title section-title is-1 has-text-centered">Albums</p>
      <div class="columns is-multiline">
        <div class="column is-one-fifth-desktop is-full-tablet" *ngFor="let album of albums">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="album.images.length > 0" src="{{album?.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!album.images.length">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a class="is-link" (click)="goToAlbum(album)">{{album.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section columns" *ngIf="singles">
    <div class="column">
      <p class="title section-title is-1 has-text-centered">Singles</p>
      <div class="columns is-multiline">
        <div class="column is-one-fifth-desktop is-full-tablet" *ngFor="let single of singles">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="single.images.length > 0" src="{{single.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!single.images.length">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a class="is-link" (click)="goToAlbum(single)">{{single.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section columns" *ngIf="compilations">
    <div class="column">
      <p class="title section-title is-1 has-text-centered">Compilations</p>
      <div class="columns is-multiline">
        <div class="column is-one-fifth-desktop is-full-tablet" *ngFor="let compilation of compilations">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img *ngIf="compilation.images.length > 0" src="{{compilation.images[0].url}}">
                <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!compilation.images.length">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <a class="is-link" (click)="goToAlbum(compilation)">{{compilation.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
