  <h1 class="title is-2 has-text-centered">New Albums and Singles</h1>

  <div class="columns is-multiline push-around">
    <div class="column is-one-fifth-desktop is-half-tablet" *ngFor="let newRelease of newReleases.items">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img src="{{newRelease.images[0].url}}" alt="no image" *ngIf="newRelease.images[0].url">
            <img class="is-square img-circle" src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!newRelease.images[0].url">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="subtitle clickable" (click)="goToAlbum(newRelease)">{{newRelease.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button id="loadMoreNewReleases" class="button is-primary is-outlined is-fullwidth"
          (click)="loadMoreNewReleases()" *ngIf="newReleases.albums.items.length < newReleases.albums.total">
    Load More New Releases
  </button>
