<div class="columns is-multiline push-around" *ngIf="playlist.id">
  <div class="column is-full">
    <div class="columns">
      <div class="column is-one-quarter">
        <figure class="image is-5by4">
          <img src="{{playlist.images[0].url}}"
               width="{{playlist.images[0].width}}"
               height="{{playlist.images[0].height}}"
               *ngIf="playlist.images.length">
          <img src="http://bulma.io/images/placeholders/480x480.png"
               *ngIf="!playlist.images.length">
        </figure>
      </div>
      <div class="column is-three-quarters">
        <p class="title" [(ngModel)]="playlist.name" ngDefaultControl>{{playlist.name}}</p>
        <p>Playlist By:
          <a class="is-link is-outlined" (click)="goToUser(playlist.owner.id)">{{user.id}}</a>
        </p>
        <p [(ngModel)]="playlist.description" ngDefaultControl [innerHTML]='playlist.description'></p>
        <p>{{formatNumberWithCommas(playlist.tracks.total)}} songs | {{formatNumberWithCommas(playlist.followers.total)}} followers</p>
        <p>
          <button class="button is-primary is-outlined is-rounded"
                  *ngIf="followed === false && user.id !== playlist.owner.id" (click)="followPlaylist()">Follow
          </button>
          <button class="button is-primary is-rounded"
                  *ngIf="followed === true && user.id !== playlist.owner.id" (click)="unfollowPlaylist()">Unfollow
          </button>
          <button class="button is-primary is-outlined is-rounded"
                  *ngIf="user.id === playlist.owner.id"
                  (click)="toggleEditModal(playlist)">Edit
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="column is-full">
    <table class="table table-striped is-fullwidth">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th><i class="fa fa-clock-o"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr class="clickable" *ngFor="let item of playlist.tracks.items; let i = index" (dblclick)="setClickedRow(item)">
        <td>{{i + 1}}</td>
        <td>{{item.track.name}}</td>
        <td>
          <a (click)="goToArtist(item.track.artists[0])">{{item.track.artists[0].name}}</a>
        </td>
        <td>
          <a (click)="goToAlbum(item.track.album)">{{item.track.album.name}}</a>
        </td>
        <td>{{formatDuration(item.track.duration_ms)}}</td>
      </tr>
      </tbody>
    </table>
    <button id="loadMorePlaylistTracks" class="button is-primary is-outlined is-fullwidth"
            *ngIf="playlist.tracks.items.length < playlist.tracks.total" (click)="loadMoreTracks()">Load more tracks
    </button>
  </div>
</div>
