.musicPlayer {
  position: fixed;
  opacity: 0;
  bottom: 35px;
  left: 35px;
  transition: 500ms linear all;
  width: 300px;
  &.visible {
    opacity: 1;
  }
}

audio{
  width: 100%;
  height: 55px;
}
