  <div class="columns" *ngIf="tracks">
    <div class="column">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th></th>
          <th>
            <i class="fa fa-clock-o"></i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tracks.items; let i = index" class="clickable" (dblclick)="setClickedRow(item, i)"  [class.row-selected]="i === selected">
          <td>{{i + 1}}</td>
          <td>{{item.track.name}}</td>
          <td>
            <a class="is-link truncate" (click)="goToArtist(item.track.album.artists[0])">{{item.track.album.artists[0].name}}</a>
          </td>
          <td>
            <a class="is-link truncate" (click)="goToAlbum(item.track.album)">{{item.track.album.name}}</a>
          </td>
          <td>
            <i class="fa fa-plus truncate" (click)="toggleAddToPlaylistModal(item.track)"></i>
          </td>
          <td>{{formatDuration(item.track.duration_ms)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


