  <div class="columns push-around" *ngIf="tracks">
    <div class="column">
      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th></th>
          <th>
            <i class="fa fa-clock-o"></i>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let track of tracks.items; let i = index" class="clickable" (dblclick)="setClickedRow(i, track)">
          <td>{{i + 1}}</td>
          <td>{{track.track.name}}</td>
          <td>
            <a class="is-link" (click)="goToArtist(track.track.album.artists[0])">{{track.track.album.artists[0].name}}</a>
          </td>
          <td>
            <a class="is-link" (click)="goToAlbum(track.track.album)">{{track.track.album.name}}</a>
          </td>
          <td>
            <i class="fa fa-plus" (click)="toggleAddToPlaylistModal(track.track)"></i>
          </td>
          <td>{{formatDuration(track.track.duration_ms)}}</td>
        </tr>
        </tbody>
      </table>
      <button id="loadMoreSongsButton" class="button is-primary is-outlined is-fullwidth"
              (click)="loadMoreTracks()" *ngIf="tracks.items.length < tracks.total">Load More Tracks
      </button>
    </div>
  </div>


