<div class="columns is-multiline" *ngIf="album">
  <div class="column is-one-quarter-desktop is-full-tablet">
    <div class="card has-text-centered">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{album.images[0].url}}" *ngIf="album.images.length">
          <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!album.images.length">
        </figure>
      </div>
      <div class="card-content">
        <h6 class="title is-6 truncate is-marginless">{{album.name}}</h6>
        <a class="is-link is-size-6" (click)="goToArtist(album.artists[0])">{{album.artists[0].name}}</a>
        <p class="push">{{album.release_date | date: 'yyyy'}} - {{album.total}} songs</p>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" *ngIf="!saved" (click)="saveAlbum(album.album)"><button class="button is-primary is-outlined is-medium is-fullwidth">Save</button></a>
        <a class="card-footer-item" *ngIf="saved" (click)="removeAlbum(album.album)"><button class="button is-primary is-medium is-fullwidth">Remove</button></a>
      </footer>
    </div>
  </div>
  <div class="column is-three-quarters-desktop is-full-tablet">
    <table class="table table-striped is-fullwidth">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th><i class="fa fa-clock-o"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of album.tracks.items; let i = index"
          class="clickable"
          (dblclick)="setClickedRow(track, i)"
          [class.row-selected]="i === selected">
        <td>{{i + 1}}</td>
        <td>{{track.name}}</td>
        <td>{{formatDuration(track.duration_ms)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
