  <section *ngIf="mostPlayed">
    <p class="title is-2 has-text-centered">Artists</p>
    <div class="columns is-multiline">
      <div class="column is-2-desktop is-one-quarter-tablet" *ngFor="let artist of mostPlayed">
        <div class="card">
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{artist.images[0].url}}" *ngIf="artist.images.length">
              <img src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!artist.images.length">
            </figure>
          </div>
          <div class="card-content clickable" (click)="goToArtist(artist)">
            <div class="content">
              <p class="more-info is-marginless has-text-weight-bold truncate">{{artist.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
