/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bulma/bulma";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~bulma-switch/switch";
@import "~bulma-quickview/quickview";

html, body {
  font-family: "Open Sans";
  background-color: #fafafa;
}

.push-around {
  margin: 8px;
}

.push-down {
  margin-top: 8px
}

.push-up {
  margin-bottom: 8px;
}

.push-right {
  margin-left: 8px;
}

.push-left {
  margin-right: 8px;
}

.padding {
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.is-fixed {
  position: fixed;
}

.no-transition {
  transition: 0s !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-shadow {
  box-shadow: none;
}

.img-circle {
  border-radius: 50%;
}


$widthAmounts: (1, 2.5, 3, 4 , 5, 6, 7); // Just add the numbers here, you can use points too.
$widthUnit: "em"; // Add the unit here (rem|em|px|%)

@each $width in $widthAmounts {
  $i: index($widthAmounts, $width);
  .table thead th.is-#{$i} {
    width: #{$width}#{$widthUnit} !important;
  }
}

