/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bulma/bulma";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-toastr/toastr.css";
@import "~bulma-switch/switch";
@import "~bulma-quickview/quickview";

html, body {
  font-family: "Open Sans";
  background-color: #fafafa;
}

.padding {
  padding: 10px;
}

.margin {
  margin: .10px;
}

.margin-top {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}

.is-fixed {
  position: fixed;
}

.no-transition {
  transition: 0s !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-shadow {
  box-shadow: none;
}

.row-selected {
  border-left: 8px solid $turquoise;
}

.more-info {
  font-size: 14px;
}


