<section class="hero is-fullheight is-fullwidth is-dark has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column">
          <h1 class="title is-1">Spotify Playground</h1>
          <a class="button is-large is-spotify-green" (click)="login()">
              <span class="icon">
                <i class="fa fa-spotify fa-2x"></i>
              </span>
            <span class="push-right">Login with Spotify</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
