  <h1 class="title is-2 has-text-centered">{{category.name}}</h1>
  <div class="columns is-multiline">
    <div class="column is-one-fifth-desktop is-one-third-tablet"
         *ngFor="let playlist of playlists.items">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{playlist.images[0].url}}" *ngIf="playlist.images[0].url">
            <img class="is-square img-circle" src="http://bulma.io/images/placeholders/480x480.png" *ngIf="!playlist.images[0].url">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="subtitle clickable" (click)="goToPlaylist(playlist)">{{playlist.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="button is-primary is-outlined is-fullwidth" (click)="loadMoreCategories()"
          *ngIf="playlists.items.length < playlists.total">Load more playlist's
  </button>

